fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
python-dotenv
chromadb
sentence-transformers
pillow
pytest
bcrypt
email-validator
pypdf
easyocr
spacy
opencv-python-headless
httpx
